@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display&display=swap');

html, body {
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100%;
  background-image: url(ressources/photo-1655212874347-7b8bc1227da7.avif);
  background-position: fixed;
  background-size: 100rem;
  height: max-content;
  font-family: 'DM Serif Display', serif;
  letter-spacing: 2px;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.form-calcul {
  width: 600px;
  height: auto;
}

.form-calcul .section-calcul {
  margin-top: 15px;
  margin-bottom: 15px;
}

.form-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: auto;
  border-radius: 5px;
  padding: 20px;
  z-index: 0;
  position: relative;
  border: none;
}

.validation {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: auto;
  padding: 20px;
}

label, input {
  display: block;
}

.glowing-button {
  font-size: 1.5em;
  padding: 10px;
  border: none;
  border-radius: 10px;
  background-color: rgb(32, 31, 31);
  color: white;
  position: relative;
  cursor: pointer;
  z-index: 0;
}

.glowing-button:before, .form-container:before {
  content: '';
  background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
  position: absolute;
  background-size: 400%;
  filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  top: -2px;
  left: -2px;
  z-index: -1;
  opacity: 0;
  animation: glowing 20s linear infinite;
  transition: opacity .3s ease-in-out;
  border-radius: 10px;
}

.glowing-button:active, .form-container:active {
  color: black;
}

.glowing-button:active:after, .form-container:active:after {
  background: transparent;
}

.glowing-button:hover:before, .form-container:hover:before {
  opacity: 1;
}

.glowing-button:after, .form-container:after {
  z-index: -1;
  content: '';
  position: absolute;
  background: rgb(32, 31, 31);
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  border-radius: 10px;
}

@keyframes glowing {
  0% {background-position: 0 0;}
  50% {background-position: 400% 0;}
  100% {background-position: 0 0;}
}

@keyframes glow {
  from {}
  50% {font-size: 1.5em; padding: 10px; padding-left: 15px; padding-right: 15px;}
  to {font-size: 1.3em; padding: 5px; padding-left: 10px; padding-right: 10px;}
}

h1 {
  font-size: 2.5em;
  color: white;
  text-align: center;
}

legend {
  text-align: center;
  font-size: 2em;
  font-weight: bold;
  color: white;
}

label {
  color: white;
  margin-bottom: 5px;
}

input {
  width: 80px;
  height: 30px;
  font-size: 18px;
  border-radius: 10px;
  border: none;
  text-align: center;
}

.brut, .taxes, .net {
  text-align: center;
  height: 100px;
  width: 150px;
  margin: 15px;
  border: 1px solid black;
  border-radius: 5px;
  font-size: 1.1em;
}

.brut {
  background-color: #d11f2ea2;
  color: white;
}

.taxes {
  background-color: #272222a2;
  color: white;
}

.net {
  background-color: #148f1aa2;
  color: white;
}